<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">

      


        Message View
        User   <%=message.user; %> <br>
        Message   <%=message.message; %> <br>
        Likes  $<%=message.likes; %> <br>

        Image: (coming soon)
        <button> <a href="/">Back to Index FIX LINK</a> <br></button>

          
          <a href="/messages">Back to Message Board</a> <br>
         

        <a href="/messages">CREATE New User *NEEDS LINK*</a> <br>
       
          <a href="/messages/boards">Boards</a> <br>
          
          <a href="/messages/login">Dev Login</a> <br>
          
        
        </div>
    </body>
</html>