<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">

      


        Message View
        User   <%=message.user; %> <br>
        Message   <%=message.message; %> <br>
        Likes  $<%=message.likes; %> <br>

        Image: (coming soon)
        <a href="#"><form action="/messages/<%= message.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/></a>

        <button> <a href="/messages">Back to Message Board</a> <br></button>
        <i class="fa fa-trash" aria-hidden="true"></i>
          
       
         

        <a href="/messages">CREATE New User *NEEDS LINK*</a> <br>
       
          <a href="/messages/login">Dev Login FIX</a> <br>
          
        
        </div>
    </body>
</html>